.flex {
  display: flex;
  border: 1px black dotted;
  width: 300px;
}
.flex .box-of-flex1 {
  /* flex: auto; */
  flex-grow: 1;
  flex-basis: auto;
}
.flex .box-of-flex2 {
  /* flex: auto; */
  flex-grow: 1;
  flex-basis: auto;
}
.flex .box-of-flex3 {
  /* flex: auto; */
  flex-grow: 1;
  flex-basis: auto;
}
.grid {
  display: grid;
  width: 300px;
  height: 300px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "egg egg apple " ". fish apple" "pig fish .";
}
.grid .grid1 {
  grid-area: egg;
}
.grid .grid2 {
  grid-area: apple;
}
.grid .grid3 {
  grid-area: pig;
}
.grid .grid4 {
  grid-area: fish;
}
